/*
* @Author: Duy_Thoai
* @Date:   2019-03-12 22:12:11
* @Last Modified by:   duythoai
* @Last Modified time: 2019-03-13 17:07:26
*/
*,*:after,*:before{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body{
	font-family: 'Open Sans',sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	color:#000;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', sans-serif;
}
img{
	max-width: 100%;
	height: auto;
}
ul,ol{
	margin-left: 30px;
 /*i am coding*/
}
li{
	line-height: 1.8;
}
li > ul > li{
	color:red;
}
 
header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url(../images/services-pattren-bg.png);
}


.section__title {
    text-align: c;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section__title h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #212529;
    margin-bottom: 2rem;
}

.section__title p {
    color: darkgreen;
    font-weight: bold;
}
.section__title span{
	color: #fa573a;
}
.border {
    width: 100px;
    height: 2px;
    background-color: #fa573a;
    z-index: 999;
    margin: auto;
    border: 1px solid #fa573a !important;
    margin-bottom: 3rem;
}
.todo{
    border: 1px solid #b2aead;
    padding: 3rem;
    margin-bottom: 4rem;
    box-shadow: 1px 1px 20px 7px #b2aead;
}

.todo h2 {
    font-size: 4rem;
    color: #0CB8B6;
    position: relative;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 3rem;
    text-shadow: 2px 2px 0px #000000;
}
.header__content {
    border: 1px solid;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.header__item img {
    width: 255px;
    height: 231px;
    overflow: hidden;
}
.todo__item {
    border: 1px solid rgba(153, 153, 153, 0.4);
    padding: 15px;
    height: 244px;
    margin-bottom: 3rem;
    transition: .2s linear all;
}
.todo__item h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ff0202 !important;
    margin-bottom: 2rem;
    font-size: 24px;
    position: relative;
    letter-spacing: 2px;
}

.todo__item:hover {
    box-shadow: 0px 2px 20px 6px #5bdfd9;
    cursor: pointer;
}
.todo__item h3:after{
	content: "";
	z-index: 999;
    height: 3px;
    content: "";
    position: absolute;
    top: 36px;
    left: 108px;
    width: 68px;
    background-color: #0CB8B6;
}
.todo__item p{margin-top: 4rem;}

.todo__item p i {
    color: red;
    margin-right: 1rem;
}
.dongluc {
    width: 267px;
    position: fixed;
    top: 0;
    right: 0;
}
video{
	max-width: 100%;
	height: auto;
}
*{}